<form class="todoTask-form">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="currentTodoTask.title" name="title">
    </mat-form-field></td>
  </tr></table>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="currentTodoTask.description" name="description"></textarea>
    </mat-form-field>
  </p>
<!--  <p>-->
<!--    <mat-form-field class="full-width">-->
<!--      <mat-label>Due date</mat-label>-->
<!--      <input matInput type="text" [(ngModel)]="currentTodoTask.due_date" name="due_date">-->
<!--    </mat-form-field>-->
<!--  </p>-->
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="currentTodoTask.due_date" name="due_date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Status</mat-label>
      <input matInput type="text" [(ngModel)]="currentTodoTask.status" name="status">
    </mat-form-field>
  </p>
  <table>
    <tr>
      <td>
        <button mat-raised-button color="accent" (click)="createTodoTask(currentTodoTask)">Submit</button>
      </td>
      <td>
        <button mat-raised-button color="warn" (click)="close()">Close</button>
      </td>
    </tr>
  </table>
</form>

